button {
	background-color: white;
	color: #3D9970;
}

.sidenav {
	border: 2px solid #3D9970;
	border-radius: 20px;
	min-width: 10%;
	height: 600px;
	left: 10px;
	overflow-x: hidden;
	padding-top: 20px;
	margin-left: 20px;
    margin-right: 20px;
}

.sidenav a {
	color: #3D9970;
	padding: 10px 0 10px 0;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.sidenav button {
	padding: 10px 0 10px 0;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	text-align: center;
	cursor: pointer !important;
	outline: none;
	width: 100%;
    border-radius: 0;
}

.dropdown-btn {
	padding: 10px 0 10px 0;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
	transition-duration: 0.3s !important;
	background-color: #3D9970 !important;
	color: white !important;
}

.sidenav button:hover {
	transition-duration: 0.3s !important;
	background-color: #3D9970 !important;
	color: white !important;
}

.active {
	background: #3D9970;
	color: white;
}

.dropdown-container {
	display: none;
	padding-left: 8px;
}